@charset "utf-8";
.fluid {
    width: 100%;
    height: 100%;
}
.site_title {
    color: #F0B9F5;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
}
.banner {
    float: none;
}
.site_images  {
    float: none;
    width: 100%;
    height: 250pt;
}
